.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: steelblue;
}

body {
    padding: 70px;
}

.carousel{
    padding: 15px;
}

.card:hover {
    transform: scale(1.1);
}